<div class="side-menu" id="menuPanel">
    <div class="side-menu-close" onclick="toggleMenu()">✕</div>
    <h4>
        검사 가이드
        <span style="margin-left:auto; color:#114d6d; font-size:12px;">﹀</span>
    </h4>
    <ul class="open">
        <li><a href="inspection_info_select.html">특정설비 검사안내</a></li>
        <li><a href="inspection_fee_select.html">검사 수수료</a></li>
        <li><a href="inspection_apply.html">검사 신청 방법</a></li>
    </ul>
    <h4>
        안전 가이드
        <span style="margin-left:auto; color:#114d6d; font-size:12px;">﹀</span>
    </h4>
    <ul class="open">
        <li><a href="safety_emergency.html">비상 대응 요령</a></li>
        <li><a class="inactive">자가 안전 점검 요령</a></li>
    </ul>
    <h4 style="color:#ccc; cursor:default;">
        <a href="notice.html" style="color:#114d6d; font-weight:bold; text-decoration:none;">공지사항</a>
    </h4>
    <h4 style="color:#ccc; cursor:default;">FAQ</h4>
</div>
